* {
  font-family: "Inter";
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #e7f6ff;
}
.wrapper {
  font-family: "Roboto";
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }
  h3,
  p {
    margin: 0;
  }
}
.content {
  h1 {
    margin: 0;
  }
}

.button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.drawer {
  position: absolute;

  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  .items {
    overflow: auto;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
  .divider {
    flex: 1;
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  p {
    font-size: 16px;
    margin: 0;
  }
  b {
    font-size: 14px;
  }
  & .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      position: relative;
      top: -4px;
      margin: 0 7px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }
  & .greenBtn {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
.items {
  flex: 1;
}

.greenBtn {
  width: 100%;
  height: 55px;
  border: 0;
  color: #fff;
  font-size: 16px;
  background: #9dd558;
  border-radius: 18px;
  &:hover {
    cursor: pointer;
    background: lighten($color: #9dd558, $amount: 5%);
  }
}
